<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title|default(appName) }}{% endblock %}</title>
    <meta name="description" content="{{ meta_description|default('A portfolio site built with PHP, Twig, and Eloquent.') }}">
    <meta name="keywords" content="{{ meta_keywords|default('PHP, Portfolio, Web Developer, Twig, Eloquent, Nullstate') }}">
    <meta name="author" content="{{ meta_author|default('nullStat3') }}">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ og_title|default(title|default(appName)) }}">
    <meta property="og:description" content="{{ og_description|default(meta_description) }}">
    <meta property="og:url" content="{{ og_url|default(app_url|default('http://localhost')) }}">
    <meta property="og:site_name" content="{{ appName }}">
    <meta property="og:image" content="{{ og_image|default(app_url ~ '/assets/images/og-default.png') }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ twitter_title|default(og_title) }}">
    <meta name="twitter:description" content="{{ twitter_description|default(og_description) }}">
    <meta name="twitter:image" content="{{ twitter_image|default(og_image) }}">
    <meta name="twitter:site" content="@nullstat3">

    <link rel="canonical" href="{{ canonical_url|default(app_url) }}">
    
    <link rel="icon" href="/assets/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="assets/css/null.css" rel="stylesheet">
  </head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4"> 
       <a href="" class="text-decoration-none fs-2 d-lg-none my-2" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"><img src="assets/images/pushthebutton.png" class="img-fluid my-2" width="85px"></a>
                    
                    <div class="offcanvas offcanvas-start offcanvas-lg-start border-0 nullNav" tabindex="-1" id="sidebarMenu"> 
                        
                        <div class="offcanvas-header d-lg-none">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                        </div>

                        <div class="offcanvas-body"> 
                            <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/">127.0.0.1</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/pathway">pathway</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/explore">explore</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/projects">projects</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/ibkc">ibkc</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark text-decoration-none fw-bold" href="/nullstat3">/whois nullStat3.dev</a></li>
                            </ul>         
                        </div>

                        <div class="offcanvas-footer text-center foots text-dark">
                            &copy; 2025 <a href="{{ app_url|default('http://localhost') }}" class="text-decoration-none text-dark fw-bold">nullStat3.dev</a> ⊗ <a href="https://www.nullStat3.com" class="text-decoration-none text-dark fw-bold">nullStat3.com</a> <br/>
                            <a href="/data" class="text-decoration-none text-secondary fs-6">Data</a> ⊗
                            <a href="/terms" class="text-decoration-none text-secondary fs-6">Terms</a> ⊗
                            <a href="/updates" class="text-decoration-none text-secondary fs-6">Updates</a>
                        </div>  
                    </div> 
      </div>
      <div class="col-lg-8">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>